@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assessment Guidelines</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f0f0f0;
        }

        .card {
            width: 80%;
            margin: 100px auto;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            padding: 20px;
        }

        .card-title {
            color: #333;
            font-size: 24px;
            margin-bottom: 20px;
        }

        .h5 {
            font-size: 16px;
            color: #555;
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
    <div class="card">
        <div class="card-body">
            <h2 class="card-title">Please remember the following while taking this assessment:</h2>
            <ul>
                <li class="h5">Focus on what you are rather than what you want to be or desire yourself to be.</li>
                <li class="h5">All styles have inherent strengths and weaknesses and there isn’t one right profile.</li>
                <li class="h5">For each set of four words, choose one word that describes you Most and one word in the four that describes you the Least. Mark the relevant alphabet on the column provided.</li>
            </ul>
        </div>
    </div>
</body>
</html>

@*<div class="card-footer">
        <div class="text-center">
            <a  asp-action="PsychoInsert" asp-controller="Psycho" class="btn btn-success">Start Test</a>
        </div>

    </div>*@


